<div id="main">
	<div class="menu">
		<app-menu></app-menu>
	</div>
	<div class="content">
		<h4>Welcome to the {{componentName}}!</h4>

		<div class="dashboard">

        <!-- <app-table [elements]="users" [settings]="settings" [type]="'User'"></app-table> -->

        <!-- <div class="col-sm-12">
          <p-dataTable [value]="users" [editable]="true" selectionMode="single" [(selection)]="selectedUser" (onRowSelect)="onRowSelect($event)" [responsive]="true">
              <p-column field="id" header="ID"></p-column>
              <p-column field="name" header="Name"></p-column>
              <p-column field="email" header="Email"></p-column>
              <p-column field="phone" header="Phone"></p-column>
              <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
          </p-dataTable>
          <p-dialog header="User Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="user">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="id">ID</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="id" [(ngModel)]="user.id" /></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="name">Name</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="user.name" /></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="email">Email</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="email" [(ngModel)]="user.email" /></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="phone">Color</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="phone" [(ngModel)]="user.phone" /></div>
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                    <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
                </div>
            </p-footer>
          </p-dialog>
      </div> -->

      <div class="row">
				<div class="col-sm-6">
					<div class="app-card">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Unique Name</th>
									<th>Name</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let u of users">
									<td>{{u.id}}</td>
									<td>{{u.name}}</td>
									<td>{{u.email}}</td>
									<td><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
      </div>
      
			<div class="row">
				<div class="col-sm-6" *ngFor="let p of panels">
					<div class="app-card">
						<div class="app-card-header">{{p.title}}</div>
						<div class="app-card-body text-light">{{p.body}}</div>
						<div class="app-card-footer text-ultra-light">{{p.footer}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer"></div>
</div>
